*{
        margin: 0rem;
        padding: 0rem;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
}

.dashboard-container{
    background-color: #fafafa;
    padding-left: 5px;
    padding-top: 15px;
}

.graph-image{
    width: 50vw;
    min-width: 300px;
}

.assesment-row .weekly {
    font-size: 12px;
    color: #ADADAD;
}

.assesment-row .monthy {
    font-size: 12px;
    color: #ADADAD;
}

.assesment-row .yearly {
    font-size: 12px;
    color: #C8242F;
}

.pie-chart-img{
    width: 15vw;
    min-width: 150px;
}

.circle1{
    border-radius: 50%;
    background-color:  #C8242F;
    padding: 7px;
    display: inline-block;
    margin-right: 5px;
}

.circle2{
    border-radius: 50%;
    background-color: #A2B86C;
    padding: 7px;
    display: inline-block;
    margin-right: 5px;
}

.circle3{
    border-radius: 50%;
    background-color: #F16C20;
    padding: 7px;
    display: inline-block;
    margin-right: 5px;
}

.circle4{
    border-radius: 50%;
    background-color: #EBC844;
    padding: 7px;
    display: inline-block;
    margin-right: 5px;
}

th{
    color: #949494;
}

.success{
    color: #3CDD5F;
    background-color: rgba(60, 221, 95,.2);
    padding: 8px;
}

.danger{
    color: #FF4545;
    background-color: rgba(255, 69, 69,.2);
    padding: 8px;
}

.text-muted{
    background-color: rgba(186, 186, 186,.2);
    padding: 8px;
}

h3{
    justify-content: center;
}

.sidebar-icon img{
    width: 20px;
}

div span{
    font-size: 12px;
}

.sidebar-first-row-item{
    margin-top: 1rem;
    margin-left: 6px;
}

.dash-background{
    background-color: rgba(200, 36, 47,.1);
}

@media screen and (max-width: 400px){
    .profile-name{ display: none; }
}