*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    justify-content: center;
}

.main-container{
    background-color: #FAFAFA;
}

.sidebar-icon img{
    width: 25px;
}

div #sidebar-text{
    font-size: 12px;
}

#sidebar-analysis{
    background-color: rgb(255, 53, 53,0.1);
}

#username{
    margin-left: 12px;
}

.three-row
{
    margin-left: -1px;
}

.column-3{
    margin-left: -8px;
}

.snackbar-error{
    border: 1px solid #FF3535;
    border-radius: 5px;
}

.snackbar-warning{
    border: 1px solid #FFA800;
    border-radius: 5px;
}

.snackbar-info{
    border: 1px solid #00B9E1;
    border-radius: 5px;
}

.snackbar-success{
    border: 1px solid #00AF27;
    border-radius: 5px;
}

.btn .btn-danger{
    border-radius: 50%;
}

.icon img{
    width: 20px;
}


.dashed-border {
    border-style: dashed;
}

nav{
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

nav ul #first-tab{
    border-bottom: 2px solid red;
}

.nav-tabs{
    margin-bottom: -2px;
}

.upload-file{
    border: 1px solid red;
}

.form-check-input:checked{
    background-color: red;
    border-color: red;
}

input[type='checkbox']{
    background-image: url("../images/check-icon.svg");  
}

@media screen and (max-width: 365px){
    .profile-name{ display: none; }
}
